@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    height: 100%;
}
body {
    background: #fff;
    background: radial-gradient(ellipse at center, #2e2e2e 0%, #000 70%);
    background-size: 100%;
    overflow: hidden;
}
/* Made by Hxnzqq */
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 20px rgba(194, 194, 194, 0.5) 0 0 20px rgba(154, 154, 154, 0.5);
}
#clock .time {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}
#clock .date {
    letter-spacing: 0.1em;
    font-size: 24px;
}
#clock .text {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}


.button {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #f0f0f0;
    z-index: 1;
  }
  
  .button::after,
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #0c0c0c;
    border-radius: 10px;
  }
  
  .button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #8f8f8f15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }

  .slider {
    position: relative;
    width: 40px;
    height: 20px;
    background: #a8a8a8;
    border-radius: 20px;
    transition: background 0.3s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ffffff;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.checkbox:checked + .slider {
    background: #000;
}

.checkbox:checked + .slider:before {
    transform: translateX(20px);
}
