body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
/* Made by Hxnzqq */
body a {
    color:white;
}
a:hover, a:visited{
    color:orange;
}
.loader-container{
    margin-top: 2rem;
}

.loader1-spinner-item, .loader1-spinner-item:before, .loader1-spinner-item:after, .loader1-spinner-text {
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
}

.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.force-gpu {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.loader1-spinner-item {
    width: 150px;
    height: 150px;
    margin: -80px 0px 0px -80px;
    border: 5px rgb(212, 0, 142) solid;
    border: 5px solid transparent;
    border-top-color: rgb(212, 0, 142);
    border-bottom-color: wrgb(212, 0, 142);
    animation: loader1-spinner-spin 3s linear infinite;
}

.loader1-spinner-item:before {
    content: "";
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 5px solid #0096db;
    border: 5px solid transparent;
    border-bottom-color: #0096db;
    animation: loader1-spinner-spin 1.5s linear infinite;
}

.loader1-spinner-item:after {
    content: "";
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 5px solid #5c5c5ce3;
    border: solid transparent;
    border-top-color: #202020e3;
    border-bottom-color: #202020e3;
    animation: loader1-spinner-spin 0.75s linear infinite;
}

.loader1-spinner-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: fixed;
    font-size: 1em;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    animation: loader1-spinner-fade 2s linear infinite;   
}

@-webkit-keyframes loader1-spinner-spin {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader1-spinner-spin {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes loader1-spinner-spin{
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes loader1-spinner-spin {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader1-spinner-spin {
    0%{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader1-spinner-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-moz-keyframes loader1-spinner-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-ms-keyframes loader1-spinner-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-o-keyframes loader1-spinner-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes loader1-spinner-fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
