body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow: auto; 
}
/* Made by Hxnzqq */
body::-webkit-scrollbar {
    width: 0; 
    background: transparent;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1d1d1d;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
 
.component-name {
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   
}

.container::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}


header {
    filter: blur(30px);
    text-align: center;
    padding: 10px;
    background: linear-gradient(45deg, #464646, #464646);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin-bottom: 5%;
    animation: headerFadeIn 1s ease-in-out;
}

@keyframes headerFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pc-component {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #262626;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pc-component:hover {
    transform: scale(1.05);
    background-color: #333;
    box-shadow: 0 0 15px rgba(71, 71, 71, 0.7);
}

.pc-component img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.pc-component:hover img {
    transform: rotate(-5deg);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.description h2 {
    margin: 0 0 10px 0;
    color: #1e90ff;
}

.description p {
    margin: 0 0 10px 0;
    color: #aaaaaa;
}

.description a {
    color: #1e90ff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s, color 0.3s;
}

.description a:hover {
    border-bottom: 2px solid #1e90ff;
    color: #ff6347;
}
.button {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    color: #f0f0f0;
    z-index: 1;
  }
  
  .button::after,
  .button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #0c0c0c;
    border-radius: 10px;
  }
  
  .button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #8f8f8f15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
